import React from 'react';
import styles from './{{pascalCase name}}.module.css';

interface {{pascalCase name}}Props {
  // Define your props here
}

const {{pascalCase name}} = (props) => {
  return (
    <div className={styles.container}>
      {/* Your component JSX here */}
    </div>
  );
};

export default {{pascalCase name}};
