.container {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  color: #2cc0ad;
  margin-bottom: 64px;
  width: 100%;
}

.label {
  font-size: 1.5rem;
  text-align: left;
}

.amount {
  font-size: 2rem;
}

@media (max-width: 1100px) {
  .container {
    margin-bottom: 32px;
  }

  .label {
    font-size: 1rem;
  }

  .amount {
    font-size: 2rem;
  }
}

@media (max-width: 550px) {
  .label {
    font-size: 1rem;
  }

  .amount {
    font-size: 1.5rem;
  }
}
